{project_plugins, [erlfmt]}.
{erlfmt, [write]}.
{erl_opts, [debug_info, warnings_as_errors]}.
{deps, []}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [task_4]}
]}.
{app, task4}.
{version, "0.1.0"}.

{dialyzer, [
    {plt_apps, all_apps},
    {warnings, [
        unknown,
        unmatched_returns,
        error_handling,
        overspecs,
        underspecs,
        specdiffs,
        no_return,
        unmatched_returns
    ]}
]}.
