{project_plugins, [erlfmt]}.
{erlfmt, [write]}.
{erl_opts, [debug_info, warnings_as_errors]}.
{deps, [
    {proper, "1.4.0"}
]}.

{erl_opts, [{i, "include"}]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [sc_dict]}
]}.

{dialyzer, [
    {plt_apps, all_apps},
    {warnings, [
        unknown,
        unmatched_returns,
        error_handling,
        overspecs,
        underspecs,
        specdiffs,
        no_return,
        unmatched_returns
    ]}
]}.
